body {
    font-size: 16px;
    line-height: 22px;
    color: white;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    background: #849d8f;
}
body > input[type="radio"] {
    display: none;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.site-wrapper {
    min-width: 1200px;
    background: #849d8f url("../img/slide-1.png") no-repeat top center;
    /*transition: background-image 0.5s ease, background-color 0.5s ease;*/
}
.content-wrapper {
    width: 1160px;
    margin: 0 auto;
    font-size: 0;
}
.slider {
    position: relative;
    padding-top: 317px;
    text-align: center;
    color: #ffffff;
}
.slide {
    display: none;
}
.slide-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 31px;
    font-weight: 700;
    font-size: 60px;
    line-height: 60.35px;
}
.btn {
    color: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    min-height: 45px;
    border-radius: 45px;
    border: none;
    background: #f26843;
    background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.btn:hover {
    background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.btn:active {
    background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.slide-btn {
    display: inline-block;
    padding: 9px 41px;
    font-size: 32px;
    line-height: 46px;
    vertical-align: top;
    text-decoration: none;
    border-radius: 33px;
}
.slider-controls {
    position: absolute;
    bottom: 20px;
    left: 6px;
    z-index: 20;
}
.slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}
.slider-controls label:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
    display: block;
}
#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
    background-color: #ffffff;
}
#btn-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/slide-1.png");
}
#btn-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/slide-2.png");
}
#btn-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/slide-3.png");
}
.site-wrapper::before,
.site-wrapper::after {
    content: "";
    visibility: hidden;
}
.site-wrapper::before,
.site-wrapper::after {
    background-image: url(../img/slide-1.png);
}
.site-wrapper::after {
    background-image: url(../img/slide-2.png);
}
.main-navigation {
    font-size: 0;
    display: inline-block;
    vertical-align: top;
}
.main-navigation img {
    float: left;
    width: 154px;
    height: 64px;
    padding-top: 9px;
}
.main-navigation ul {
    list-style: none;
    font-size: 0;
    padding: 25px 20px 14px;
    display: inline-block;
    vertical-align: top;
}
.main-menu a {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.main-menu li:hover a {
    border-bottom: none;
    color: #333333;
}
.main-menu li {
    display: inline-block;
    /*здесь vertical-align не надо*/
    
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    position: relative;
    padding: 5px 10px;
    margin: 0;
    margin-right: 8px;
}
.main-menu li:hover {
    border-radius: 20px;
    background-color: white;
}
.main-menu li:hover .sub-menu {
    display: block;
}
.main-menu li:active {
    box-shadow: inset 0 3px 2px -2px #333333;
}
.main-menu .sub-menu {
    display: none;
    position: absolute;
    top: 33px;
    left: -10px;
    border-radius: 5px;
    background-color: white;
    padding: 0;
    margin: 0;
    z-index: 10;
}
.sub-menu li {
    margin: 0;
    padding: 0;
    width: 143px;
    height: 18px;
}
.sub-menu li:hover a {
    background-color: #fbded7;
}
.sub-menu li:active a {
    background-color: #f6b5a5;
}
.sub-menu a {
    border-bottom: none;
    color: #333333;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    white-space: nowrap;
    display: block;
    padding: 10px 20px;
}
.sub-menu li:last-child {
    padding-bottom: 18px;
}
.sub-menu-title a {
    font-weight: 700;
}
.sub-menu-title::after {
    content: "";
    position: absolute;
    width: 126px;
    top: 35px;
    left: 8px;
    height: 1px;
    background-color: #d1d0ce;
}
.user-block {
    float: right;
    display: inline-block;
    vertical-align: top;
    padding: 25px 0px 7px;
    position: relative;
    padding-right: 8px;
}
.user-block a {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: white;
}
.finder {
    display: inline-block;
    vertical-align: top;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    position: relative;
    margin-right: 11px;
}
.finder:hover {
    background-color: #f8f7f4;
}
.finder div {
    position: absolute;
    display: none;
    top: 38px;
    left: -308px;
    width: 342px;
    min-height: 84px;
    background-color: #f8f7f4;
    border-radius: 6px;
}
.finder .input-text {
    border-radius: 8px;
    background-color: white;
    padding: 12px;
    margin: 20px 16px;
    width: 310px;
    box-sizing: border-box;
}
.finder:hover div {
    display: inline-block;
    vertical-align: top;
}
.finder button {
    background-image: url("../img/sprite.png");
    background-color: transparent;
    border: none;
    width: 17px;
    height: 17px;
    background-position: -10px -589px;
    display: inline-block;
    vertical-align: top;
}
.finder:hover button {
    background-color: transparent;
    border: none;
    width: 17px;
    height: 17px;
    background-position: -10px -626px;
}
.login {
    display: inline-block;
    vertical-align: top;
    margin-right: 9px;
    height: 30px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 6px;
    padding-left: 43px;
    padding-right: 16px;
    box-sizing: border-box;
    position: relative;
}
.login::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 15px;
    background-image: url("../img/sprite.png");
    background-color: transparent;
    border: none;
    width: 21px;
    height: 19px;
    background-position: -10px -90px;
}
.login:hover {
    background-color: #f8f7f4;
    color: #333333;
}
.login:hover::before {
    background-position: -10px -129px;
}
.login-form {
    position: absolute;
    display: none;
    vertical-align: top;
    top: 59px;
    left: -145px;
    width: 277px;
    min-height: 216px;
    background-color: #f8f7f4;
    border-radius: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    z-index: 30;
}
.login-form input {
    display: block;
    box-sizing: border-box;
    width: 241px;
    margin-top: 20px;
    margin-left: 19px;
    padding: 15px;
    border-radius: 6px;
}
.login-form a {
    color: #676766;
    font-size: 13px;
    line-height: 24px;
    border-bottom: 1px solid #adacaa;
    display: inline-block;
    vertical-align: top;
    line-height: 13px;
}
.login-form button {
    margin: 20px;
    margin-left: 18px;
    width: 103px;
}
.login-form div {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    width: 123px;
}
.cart {
    display: inline-block;
    vertical-align: top;
    height: 31px;
    width: 118px;
    border-radius: 31px;
    padding: 6px;
    padding-left: 45px;
    padding-right: 35px;
    box-sizing: border-box;
    position: relative;
    white-space: nowrap;
}
.cart::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 15px;
    background-color: transparent;
    border: none;
    width: 21px;
    height: 20px;
}
.cart-empty {
    background-image: url("../img/sprite.png");
    background-position: 7px -6px;
    background-color: rgba(255, 255, 255, 0.2);
}
.cart-full {
    background-image: url("../img/sprite.png");
    background-position: 6px -45px;
    background-color: #f7f6f3;
    margin-top: -1px;
}
a.cart-full {
    color: #333333;
}
.cart-order {
    position: absolute;
    z-index: 30;
    display: none;
    vertical-align: top;
    top: 59px;
    left: -281px;
    width: 540px;
    min-height: 243px;
    background-color: #f8f7f4;
    border-radius: 6px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #333333;
}
.cart-order table {
    margin: 15px;
    margin-top: 10px;
    border-bottom: 1px solid #cacac7;
}
.cart-order td {
    padding: 10px 5px;
}
.cart-order td:nth-child(4) {
    padding-right: 20px;
    padding-left: 20px;
}
.cart-order td:nth-child(5) {
    padding-right: 15px;
}
.cart-order span {
    color: #b2b2b1;
}
.cart-order p {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    padding-right: 15px;
}
.cart-order button {
    width: 170px;
    margin-right: 15px;
    float: right;
}
.opentime {
    text-align: right;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    padding-right: 8px;
    float: right;
}
.opentime b {
    font-size: 22px;
    line-height: 32px;
    font-weight: 700;
}
.current-main-menu {
    border-radius: 20px;
    background-color: #d07058;
}
.current-main-menu a {
    border-bottom: none;
}
footer div {
    display: inline-block;
    vertical-align: top;
}
.footer {
    margin-top: 0;
    margin-bottom: 25px;
    display: inline-block;
    vertical-align: top;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.share {
    margin-right: 214px;
    margin-left: 5px;
}
.social {
    display: inline-block;
    vertical-align: top;
    width: 32px;
    height: 32px;
    margin-top: 36px;
    margin-right: 12px;
    background: transparent url("../img/sprite2.png");
    opacity: 0.8;
    border-radius: 32px;
    border: 3px solid #dae2de;
}
.social:hover {
    opacity: 1;
}
.social:active {
    opacity: 0.8;
    box-shadow: inset 0 2px 1px -1px #888888;
}
.social:last-child {
    margin-right: 0;
}
.social-tw {
    background-position: -10px -182px;
}
.social-insta {
    background-position: -10px -96px;
}
.social-fb {
    background-position: -10px -10px;
}
.social-vk {
    background-position: -10px -234px;
}
.links {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    width: 334px;
    min-height: 37px;
    margin-right: 223px;
    margin-top: 35px;
}
.links a {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: inline-block;
    vertical-align: top;
}
.links a:first-child {
    margin-bottom: 5px;
}
.links::before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 15px;
    min-height: 16px;
    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -10px -166px;
}
.left-col a:first-child {
    font-weight: 700;
}
.left-col {
    display: inline-block;
    vertical-align: top;
    width: 112px;
    margin: 0;
    margin-left: 3px;
}
.right-col {
    display: inline-block;
    vertical-align: top;
    width: 165px;
    margin: 0;
    margin-left: 27px;
}
.copyright {
    width: 194px;
    min-height: 60px;
    font-size: 12px;
    line-height: 27px;
    margin-top: 19px;
    margin-right: 0;
}
.copyright img {
    display: block;
}
.copyright a {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
main h1 {
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    margin: 0;
    padding: 0;
    margin-top: 4px;
    margin-left: 6px;
    margin-bottom: 26px;
}
.breadcrumbs {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    list-style: none;
    margin: 0;
    margin-top: 26px;
    margin-left: 6px;
    padding: 0;
}
.breadcrumbs li {
    position: relative;
    display: inline;
    padding-right: 18px;
}
.breadcrumbs a {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.breadcrumbs li::after {
    content: "\00bb";
    position: absolute;
    top: 1px;
    right: 4px;
    width: 8px;
    height: 14px;
}
.breadcrumbs li:last-child::after {
    display: none;
}
.links a:hover,
.copyright a:hover,
.breadcrumbs a:hover {
    color: #ffbc9e;
    border-color: #ffbc9e;
}
.links a:active,
.copyright a:active,
.breadcrumbs a:hover {
    color: #ffbc9e;
    border-color: #ffbc9e;
}
.paginator {
    width: 197px;
    margin: 29px auto;
    margin-right: 6px;
    white-space: nowrap;
    background: transparent;
}
.paginator a {
    display: inline-block;
    min-width: 26px;
    height: 26px;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: white;
    box-sizing: border-box;
    padding-top: 6px;
    margin-right: 3px;
    margin-top: 1px;
}
.paginator .prev {
    margin-left: 5px;
    margin-right: 15px;
    margin-top: 7px;
    min-width: 9px;
    height: 14px;
    background: url(../img/sprite2.png) no-repeat -10px -148px;
}
.paginator .next {
    margin-left: 12px;
    margin-right: 0;
    margin-top: 7px;
    min-width: 9px;
    height: 14px;
    background: url(../img/sprite2.png) no-repeat -10px -62px;
}
.paginator .disabled {
    opacity: 0.2;
    cursor: default;
}
.paginator a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 14px;
}
.paginator .current,
.paginator a:active {
    background-color: white;
    color: #333333;
    border-radius: 14px;
}
a.current:hover {
    background-color: white;
}
a.prev:hover,
a.next:hover {
    background-color: transparent;
}
.filters {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding: 0;
}
.filters span {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: block;
    margin-left: 15px;
    margin-bottom: 6px;
}
.sorting {
    display: inline-block;
    width: 192px;
    min-height: 60px;
    vertical-align: top;
    margin-right: 10px;
    margin-bottom: 14px;
    margin-left: 6px;
    position: relative;
}
.sorting select {
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    width: 192px;
    min-height: 36px;
    color: white;
    border-radius: 36px;
    padding-left: 18px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}
.sorting select:hover {
    background-color: white;
    color: #333333;
    cursor: pointer;
}
.sort option {
    background-color: white;
    color: #333333;
    cursor: pointer;
}
.sort option:hover {
    background-color: grey;
    color: #333333;
    cursor: pointer;
}
.sort::after {
    content: "";
    position: absolute;
    background: url("../img/marker.png") no-repeat;
    width: 9px;
    height: 5px;
    top: 38px;
    right: 13px;
}
.sort:hover::after {
    content: "";
    position: absolute;
    background: url("../img/marker-black.png") no-repeat;
    width: 9px;
    height: 5px;
    top: 38px;
    right: 13px;
}
.pricing {
    display: inline-block;
    width: 217px;
    vertical-align: top;
    height: 36px;
    margin-right: 12px;
    margin-bottom: 14px;
    margin-left: 3px;
}
.range-controls {
    position: relative;
    height: 36px;
    padding-left: 16px;
    padding-right: 13px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 36px;
    overflow: hidden;
}
.scale {
    margin-top: 15px;
    height: 4px;
    background: #d7dcde;
}
.bar {
    height: 4px;
    background: white;
    margin-left: 35px;
    width: 87px;
}
.toggle {
    position: absolute;
    top: 7px;
    width: 20px;
    height: 20px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}
.min-toggle {
    left: 35px;
}
.max-toggle {
    left: 133px;
}
.toggle:hover {
    cursor: pointer;
}
.fatness {
    display: inline-block;
    vertical-align: top;
}
.fatness fieldset {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 36px;
    padding-top: 8px;
    height: 16px;
    padding-right: 3px;
}
.filler {
    display: inline-block;
    vertical-align: top;
    margin-left: 7px;
}
.fatness label,
.filler label {
    float: left;
}
.filler fieldset {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 36px;
    padding-top: 8px;
    height: 16px;
    margin-top: 0px;
    margin-left: 0px;
    padding-right: 0px;
}
.filler input[type="checkbox"],
.fatness input[type="radio"] {
    display: none;
}
.fatness input[type="radio"] + label {
    padding-left: 35px;
    padding-right: 14px;
    position: relative;
    cursor: pointer;
}
.filler input[type="checkbox"] + label {
    padding-left: 36px;
    position: relative;
    cursor: pointer;
    margin-right: 18px;
}
.filler input[type="checkbox"] + label::before {
    content: "";
    width: 18px;
    height: 18px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 3px;
}
.filler input[type="checkbox"] + label:hover::before {
    content: "";
    width: 18px;
    height: 18px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: transparent;
    position: absolute;
    top: -1px;
    left: 2px;
}
.fatness input[type="radio"] + label::before {
    content: "";
    width: 18px;
    height: 18px;
    border: 1px solid white;
    border-radius: 18px;
    background-color: transparent;
    position: absolute;
    top: -1px;
    left: 5px;
}
.fatness input[type="radio"]:hover + label:hover::before {
    content: "";
    width: 18px;
    height: 18px;
    border: 2px solid white;
    border-radius: 18px;
    background-color: transparent;
    position: absolute;
    top: -2px;
    left: 4px;
}
.filler input[type="checkbox"]:checked + label::after {
    content: "";
    background: url("../img/checked.png") no-repeat;
    background-position: -3px -3px;
    border: none;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 3px;
    left: 7px;
}
.fatness input[type="radio"]:checked + label::after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: white;
    border: 1px solid white;
    border-radius: 8px;
    position: absolute;
    top: 4px;
    left: 10px;
}
.filter-form-submit {
    width: 144px;
    height: 36px;
    margin-left: 6px;
    margin-top: 22px;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 18px;
    color: white;
}
.filter-form-submit:hover {
    color: #333333;
    background-color: white;
}
.filter-form-submit:active {
    opacity: 0.8;
    box-shadow: inset 0 2px 1px -1px #888888;
}
.icecream {
    font-size: 0;
    margin: 36px auto 45px;
}
.hit {
    display: inline-block;
    width: 270px;
    vertical-align: top;
    position: relative;
    margin: 4px 11px 34px 12px;
}
.hit:nth-child(4n+1) {
    margin-left: 6px;
    margin-right: 11px;
}
.hit:nth-child(4n) {
    margin-right: 0px;
    margin-left: 12px;
}
.hover-block {
    display: none;
    position: absolute;
    top: -5px;
    left: -13px;
    width: 293px;
    height: 405px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    z-index: 10;
    box-shadow: 0 10px 50px 1px rgba(0, 0, 0, 0.4);
}
.hover-block a {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    position: absolute;
    bottom: 21px;
    left: 46px;
    width: 200px;
    min-height: 45px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
}
.hover-block a:hover {
    cursor: pointer;
}
.hit:hover .hover-block {
    display: inline-block;
    vertical-align: top;
}
.hit:hover .center {
    position: relative;
    z-index: 20;
}
.hit h3 {
    position: absolute;
    top: 180px;
    font-size: 45px;
    font-weight: 500;
    line-height: 13px;
    text-align: left;
    text-shadow: 0 2px 5px rgba(49, 50, 53, 0.5);
    letter-spacing: 0.8px;
}
.hit:hover h3 {
    z-index: 20;
}
.hit .kilo {
    font-size: 28px;
    margin-left: 2px;
}
.hit p {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    margin: 1px;
}
.hit .icecream-name {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.hit:hover .icecream-name {
    border: none;
}
.superhit {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 30;
}
.rasp-chocco {
    font-size: 0;
    margin-top: 42px;
    margin-bottom: 35px;
}
.raspberry {
    display: inline-block;
    vertical-align: top;
    width: 560px;
    height: 229px;
    margin-left: 6px;
    margin-right: 26px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    background: url("../img/raspberry-fon_1200.png") no-repeat;
    border-radius: 5px;
}
.choccolate {
    display: inline-block;
    vertical-align: top;
    width: 560px;
    height: 229px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    background: url("../img/chocolate-fon_1200.png") no-repeat;
    border-radius: 5px;
}
.rasp-chocco h2 {
    margin: 0;
    margin-left: 20px;
    margin-top: 15px;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
}
.rasp-chocco p {
    margin: 0;
    margin-left: 20px;
    margin-top: 15px;
    padding-right: 20px;
}
.raspberry a {
    text-decoration: none;
    min-width: 165px;
    height: 46px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    text-align: center;
    padding-top: 10px;
    margin-top: 44px;
    margin-left: 374px;
}
.choccolate a {
    text-decoration: none;
    min-width: 189px;
    height: 46px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    text-align: center;
    padding-top: 10px;
    margin-top: 44px;
    margin-left: 350px;
}
.preferences {
    font-size: 0;
    background: url("../img/bg_waffle.jpg");
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 40px;
    margin-left: 6px;
    margin-right: 8px;
    min-height: 306px;
}
.preferences ul {
    list-style: none;
    padding: 0;
}
.preferences h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #323232;
    margin: 0;
    margin-left: 20px;
    padding-top: 24px;
    margin-bottom: 22px;
}
.preferences li {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    display: inline-block;
    vertical-align: top;
    width: 476px;
    margin-left: 77px;
    margin-bottom: 21px;
    margin-right: 13px;
    position: relative;
}
.ico_icecream::before {
    content: "";
    position: absolute;
    top: -14px;
    left: -57px;
    background: url("../img/sprite.png") no-repeat;
    width: 49px;
    height: 49px;
    background-position: -10px -381px;
}
.ico_cow::before {
    content: "";
    position: absolute;
    top: -14px;
    left: -57px;
    background: url("../img/sprite.png") no-repeat;
    width: 48px;
    height: 49px;
    background-position: -10px -312px;
}
.ico_list::before {
    content: "";
    position: absolute;
    top: -12px;
    left: -57px;
    background: url("../img/sprite.png") no-repeat;
    width: 49px;
    height: 49px;
    background-position: -10px -451px;
}
.ico_thermometer::before {
    content: "";
    position: absolute;
    top: -12px;
    left: -57px;
    background: url("../img/sprite.png") no-repeat;
    width: 48px;
    height: 49px;
    background-position: -10px -520px;
}
.news-subs {
    color: #323232;
    margin-bottom: 38px;
}
.news {
    display: inline-block;
    vertical-align: top;
    width: 560px;
    height: 221px;
    margin-left: 6px;
    background: url("../img/strawberry-fon_1200.png") no-repeat;
    margin-right: 26px;
}
.news p {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-left: 20px;
    margin-top: 23px;
    margin-bottom: 7px;
}
.news div {
    width: 290px;
    margin-left: 20px;
}
.news a {
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 21px;
    color: #323232;
    border-bottom: 2px solid #323232;
}
.subscribe {
    display: inline-block;
    width: 560px;
    height: 221px;
    vertical-align: top;
    background-image: url("../img/post-fon_1200.png");
}
.subscribe p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 34px 27px 34px;
    padding: 0;
}
.sender-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #b4b4b4;
    width: 370px;
    height: 46px;
    margin-left: 26px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 12px;
    box-sizing: border-box;
}
.sender-button {
    min-width: 128px;
    padding: 0 16px;
    cursor: pointer;
}
.map-container {
    width: 1160px;
    margin: 0 auto;
    background-color: transparent;
    position: relative;
    z-index: 40;
}
.map {
    position: relative;
    height: 428px;
    width: 100vw;
    left: calc(-50vw + 50%);
    overflow: hidden;
}
.map img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
}
.map-adres {
    background-color: white;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    vertical-align: top;
    color: #323232;
    width: 302px;
    height: 285px;
    position: absolute;
    right: 8px;
    top: 63px;
    border-radius: 15px;
    padding-top: 20px;
    z-index: 50;
}
.map-adres p {
    margin: 11px 25px 11px;
}
.map-adres b {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}
.map-button {
    display: block;
    width: 251px;
    margin: 25px auto;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
}
.modal-overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}
.modal-content {
    position: fixed;
    z-index: 60;
    display: none;
    top: calc(50% - 420px/2);
    left: calc(50% - 478px/2);
    width: 478px;
    min-height: 420px;
    border-radius: 15px;
    color: #333333;
    background: #f8f7f4;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.modal-content h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin: 20px 25px 4px;
}
.modal-content input {
    display: block;
    margin: 21px 25px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    padding-left: 10px;
    width: 267px;
    height: 45px;
    color: #333333;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    box-sizing: border-box;
}
.modal-content textarea {
    margin: 0 25px 25px;
    padding: 15px 10px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    color: #333333;
    background: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    width: 90%;
    resize: none;
    height: 128px;
    box-sizing: border-box;
}
.modal-content input:focus {
    border: 1px solid #8fbdec;
    outline: none;
}
.modal-content textarea:focus {
    border: 1px solid #8fbdec;
    color: #333333;
    outline: none;
}
.feedback-form {
    position: relative;
}
.feedback-form label {
    position: absolute;
    color: #a7a7a7;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.feedback-name-lbl {
    left: 39px;
    top: 11px;
}
.feedback-mail-lbl {
    left: 39px;
    top: 76px;
}
.feedback-text-lbl {
    left: 39px;
    top: 148px;
}
.feedback-form input:hover,
.feedback-form textarea:hover {
    border: 3px solid #c7c6c5;
}
input:focus + .feedback-name-lbl {
    top: -15px;
    color: #8fbdec;
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
}
input:focus + .feedback-mail-lbl {
    top: 51px;
    color: #8fbdec;
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
}
textarea:focus + .feedback-text-lbl {
    top: 116px;
    color: #8fbdec;
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
}
@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }
    70% {
        transform: translateY(30px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
.modal-content .send-feedback {
    width: 140px;
    float: right;
    margin-right: 25px;
    margin-bottom: 25px;
    cursor: pointer;
}
.modal-content-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 18px;
    height: 18px;
    font-size: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.modal-content-close::before,
.modal-content-close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 2px;
    width: 19px;
    height: 2px;
    background-color: #333333;
    border-radius: 1px;
}
.modal-content-close::before {
    transform: rotate(45deg);
}
.modal-content-close::after {
    transform: rotate(-45deg);
}
.showed {
    display: inline-block;
    vertical-align: top;
}
.modal-content-show {
    display: block;
    animation: bounce 0.6s;
}
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}
.modal-error {
    animation: shake 0.6s;
}