body {
	font-size: 16px;
	line-height: 22px;
	color: white;
	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	background: #849d8f;
}

.outline {
  outline: 3px solid black;
}

.container {
  width: 1200px;
  margin: 0 auto;
  font-size: 0;
}

.main-navigation {
	font-size: 0;
	display: inline-block;
}

.main-navigation img{
  float: left;
  width: 154px;
  height: 64px;
  padding-top: 8px;
  padding-left: 20px;
}

.main-navigation ul {
  list-style: none;
  font-size: 0;
  padding: 25px 25px 17px;
  display: inline-block;
}

.main-menu a {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid #9fb3a8;
}

.main-menu li:hover a {
	border-bottom: none;
	color: black;
}

.main-menu li{
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  position: relative;
  padding: 5px 10px;
  margin: 0;
  margin-right: 18px;
}

.main-menu li:hover {
  border-radius: 20px;
  background-color: white;
}

.main-menu li:hover .sub-menu{
  display: block;
}

.main-menu li:active{
	box-shadow: inset 0 3px 2px -2px black;
}

.main-menu .sub-menu {
  display: none;
  position: absolute;
  top: 33px;
  left: -10px;
  border-radius: 5px;
  background-color: white;
  padding: 0;
  margin: 0;
}

.sub-menu li {
	margin: 0;
	padding: 0;
	width: 143px;
	height: 18px;
}

.sub-menu li:hover a {
	background-color: #fbded7;
}

.sub-menu li:active a {
	background-color: #f6b5a5;
}

.sub-menu a {
	border-bottom: none;
	color: black;
	font-weight: 400;
	font-size: 14px;
    line-height: 16px;
    white-space: nowrap;
    display: block;
    padding: 10px 20px;
}

.sub-menu li:last-child {
	padding-bottom: 18px;
}

.sub-menu-title a {
	font-weight: 700;
}

.sub-menu-title::after {
	content: "";
	position: absolute;
  	width: 126px;
  	top: 35px;
  	left: 8px;
  	height: 1px;
  	background-color: #d1d0ce;
}

.user-block {
	display: inline-block;
	margin-left: 251px;
	vertical-align: top;
	padding: 25px 25px 17px;
	position: relative;
}

.user-block a {
	font-weight: 500;
	font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: white;
}

.finder {
	display: inline-block;
	height: 34px;
  	border-radius: 34px;
  	background-color: #a1b5aa;
  	padding: 10px;
  	box-sizing: border-box;
  	font-weight: 400;
	font-size: 14px;
    line-height: 24px;
    position: relative;
    margin-right: 10px;
}

.finder:hover {
	background-color: #f8f7f4;
}

.finder div {
	position: absolute;
	display: none;
	top: 38px;
	left: -308px;
	width: 342px;
	min-height: 84px;
	background-color: #f8f7f4;
	border-radius: 6px;
}

.finder div input {
	border-radius: 8px;
	background-color: white;
	padding: 12px;
	margin: 20px 16px;
	width: 310px;
	box-sizing: border-box;
}

.finder:hover div{
  display: inline-block;
}

.finder button {
	background-image: url("../img/sprite.png"); 
	background-color: transparent;
	border: none;
	width: 17px;
    height: 17px;
    background-position: -10px -589px;
}

.finder:hover button {
	background-color: transparent;
	border: none;
	width: 17px;
    height: 17px;
    background-position: -10px -626px;
}

.login {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	height: 34px;
  	border-radius: 34px;
  	background-color: #a1b5aa;
  	padding: 10px;
  	padding-left: 45px;
  	padding-right: 15px;
  	box-sizing: border-box;
  	position: relative;
}

.login::before {
	content: "";
	position: absolute;
	top: 8px;
	left: 15px;
	background-image: url("../img/sprite.png"); 
	background-color: transparent;
	border: none;
	width: 21px;
    height: 19px;
    background-position: -10px -90px;
} 

.login:hover {
	background-color: #f8f7f4;
	color: black;
}

.login:hover::before {
	background-position: -10px -129px;
}

.login-form {
	position: absolute;
	display: none;
	vertical-align: top;
	top: 65px;
	left: -112px;
	width: 277px;
	min-height: 216px;
	background-color: #f8f7f4;
	border-radius: 6px;
	font-weight: 400;
	font-size: 14px;
    line-height: 24px;
}

.login-form input {
	display: block;
	box-sizing: border-box;
	width: 241px;
	margin-top: 20px;
	margin-left: 19px;
	padding: 15px;
	border-radius: 6px;
}

.login-form a {
	color: #676766;
	font-size: 13px;
	line-height: 24px;
	border-bottom: 1px solid #adacaa;
	display: inline-block;
}

.login-form button {
	margin: 20px;
	margin-left: 18px;
	width: 103px;
}

.btn {
	color: white;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	background-color: #ed5b3d;
	min-height: 46px;
	border-radius: 23px;
	border: none;
}

.btn:hover {
	background-color: #f07962;
	box-shadow: inset 0 -3px 2px -2px #ac1000;

}

.btn:active {
	background-color: #db5238;
	box-shadow: inset 0 3px 2px -2px #952718;

}

.login-form div {
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
	width: 123px;
}

.cart {
	display: inline-block;
	vertical-align: top;
	height: 34px;
	width: 118px;
  	border-radius: 34px;
  	padding: 10px;
  	padding-left: 45px;
  	padding-right: 35px;
  	box-sizing: border-box;
  	position: relative;
  	white-space: nowrap;
}

.cart::before {
	content: "";
	position: absolute;
	top: 8px;
	left: 15px;	
	background-color: transparent;
	border: none;
	width: 21px;
    height: 20px;  
}

.cart-empty {
	background-image: url("../img/sprite.png"); 
	background-position: 5px -1px;
	background-color: #a1b5aa;
}

.cart-full {
	background-image: url("../img/sprite.png");
	background-position: 5px -41px;
	background-color: #f7f6f3;
}

a.cart-full {
	color: black;
}

.cart-order {
	position: absolute;
	display: none;
	vertical-align: top;
	top: 65px;
	left: -250px;
	width: 540px;
	min-height: 243px;
	background-color: #f8f7f4;
	border-radius: 6px;
	font-weight: 400;
	font-size: 13px;
    line-height: 16px;
    color: black;
}

.cart-order table {
	margin: 15px;
	margin-top: 10px;
	border-bottom: 1px solid #cacac7;
}

.cart-order td {
	padding: 10px 5px;
}

.cart-order td:nth-child(4) {
	padding-right: 20px;
	padding-left: 20px;
}

.cart-order td:nth-child(5) {
	padding-right: 15px;
}

.cart-order span {
	color: #b2b2b1;
}

.cart-order p {
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	text-align: right;
	padding-right: 15px;
}

.cart-order button {
	width: 170px;
	margin-right: 15px;
	float: right;
}

.opentime {
	text-align: right;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	margin-right: 25px;
}

.opentime b {
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
}

.current-main-menu {
    border-radius: 20px;
    background-color: #d07058;
}

.current-main-menu a {
	border-bottom: none;
}




/*
ul.linear-style {
	font-size: 0;
}

ul.linear-style li {
	display: inline-block;
	font-size: 20px;
}

ul.horizont-style li {
	display: block;
}

header {
	font-size: 0;
}*/





.slider-item {
  width: 755px;
  height: 624px;
  margin: 0 auto;
  text-align: center;
}

.rasp-chocco, .news-subs {
	width: 1200px;
	margin: 25px auto;
	font-size: 0;
}

.raspberry {
	display: inline-block;
	width: 550px;
	margin: 20px;
	font-size: 22px;
/*	background-image: url("../img/raspberry-fon_1200.png");
	background-size: contain;*/
}

.choccolate {
	display: inline-block;
	width: 550px;
	margin: 20px;
	font-size: 22px;
/*	background-image: url("../img/chocolate-fon_1200.png");
	background-size: contain;*/
}

.i-want {
	float: right;
	margin-right: 25px;
	margin-bottom: 25px;
}

.hits, .news-subs, .map, .icecream, .pagination, .filters { 
	font-size: 0; 
	margin: 25px auto;
}

.hit {
	display: inline-block;
	width: 300px;
	vertical-align: top;
	min-height: 450px;
	font-size: 22px;
}

.center {display:block; margin: 0 auto;}

.preferences {
	width: 1180px;
	margin: 0 auto;
	font-size: 0;
}

.preferences ul { font-size: 22px; }

.preferences ul li {
	display: inline-block;
	width: 550px;
	vertical-align: top;
	min-height: 160px;
	margin: 5px;	
}

.news {
	display: inline-block;
	width: 550px;
	margin: 20px;
	min-height: 200px;
	vertical-align: top;
	font-size: 22px;
/*	background-image: url("../img/strawberry-fon_1200.png");
	background-size: contain;*/
}

.subscribe {
	display: inline-block;
	width: 550px;
	margin: 20px;
	min-height: 200px;
	vertical-align: top;
	font-size: 22px;
/*	background-image: url("../img/post-fon_1200.png");
	background-size: contain;*/
}

.map-adres {
	display: inline-block;
	font-size: 22px;
	vertical-align: top;
}

.map-button {
	display: block;
	width: 300px;
	margin: 0 auto;
}

footer {
	font-size: 0;
}

.footer-social {
  display: inline-block;
  width: 260px;
  min-height: 63px;
  vertical-align: middle;
  padding-top: 10px; 
  font-size: 22px;
}

.footer-links {
  display: inline-block;
  width: 420px;
  margin: 0 123px;
  min-height: 90px;
  vertical-align: middle;
  padding-top: 35px; 
  font-size: 22px;
}

.footer-copyright {
  display: inline-block;
  width: 180px;
  min-height: 90px;
  vertical-align: middle;
  padding-top: 10px;
  font-size: 22px;
}

.social-btn-twit {
	width: 33px;
	min-height: 33px;
	/*background-image: url("../img/twitter.png") 100% 100% no-repeat;
	background-size: auto;*/
}

.social-btn { margin : 10px; }

.social-btn-inst {
	width: 33px;
	min-height: 33px;
	/*background-image: url("../img/insta.png") 100% 100% no-repeat;
	background-size: auto;*/
}

.social-btn-fb {
	width: 33px;
	min-height: 33px;
	/*background-image: url("../img/fb.png") 100% 100% no-repeat;
	background-size: auto;*/
}

.social-btn-vk {
	width: 33px;
	min-height: 33px;
	/*background-image: url("../img/vk.png") 100% 100% no-repeat;
	background-size: auto;*/
}

.pagination-items {
	display: inline-block;
	width: 100px;
	margin: 10px;
	margin-left: 1000px;
	vertical-align: middle;
}

.sorting {
	display: inline-block;
	width: 200px;
	margin: 10px;
	vertical-align: top;
	font-size: 22px;
}

.pricing {
	display: inline-block;
	width: 280px;
	margin: 10px;
	vertical-align: top;
	font-size: 22px;
}

.fatness {
	display: inline-block;
	width: 480px;
	margin: 10px;
	vertical-align: top;
	font-size: 22px;
}

.filler {
	display: inline-block;
	width: 780px;
	margin: 10px;
	vertical-align: top;
	font-size: 22px;
}








/*sprites*/
.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-hart {
    width: 15px;
    height: 13px;
    background-position: -10px -168px;
}

.sprite-hiks {
    width: 11px;
    height: 11px;
    background-position: -10px -201px;
}

.sprite-hit {
    width: 61px;
    height: 61px;
    background-position: -10px -232px;
}

.sprite-ico_cow {
    width: 48px;
    height: 49px;
    background-position: -10px -313px;
}

.sprite-ico_icecream {
    width: 49px;
    height: 49px;
    background-position: -10px -382px;
}

.sprite-ico_list {
    width: 49px;
    height: 49px;
    background-position: -10px -451px;
}

.sprite-ico_thermometer {
    width: 48px;
    height: 49px;
    background-position: -10px -520px;
}

.sprite-pin {
    width: 218px;
    height: 142px;
    background-position: -10px -663px;
}

.sprite-social-fb {
    width: 32px;
    height: 32px;
    background-position: -10px -825px;
}

.sprite-social-insta {
    width: 32px;
    height: 32px;
    background-position: -10px -877px;
}

.sprite-social-twitter {
    width: 33px;
    height: 32px;
    background-position: -10px -929px;
}

.sprite-social-vk {
    width: 32px;
    height: 32px;
    background-position: -10px -981px;
}